$black = #333
$primary-blue = #0769AD
$secondary-blue = #7ACEF4
$navy-blue = #131B28
$primary-orange = #FAA523
$secondary-orange = #B24926
$primary-green = #3EB249
$secondary-green = #108040
$primary-red = #9A1B1E
$primary-purple = #9C3493
$secondary-purple = #390F39

colors = "black" "primary-blue" "secondary-blue" "navy-blue" "primary-orange" "secondary-orange" "primary-green" "secondary-green" "primary-red" "primary-purple" "secondary-purple"

for col in colors
	.color.{col}
		background-color lookup("$" + col)
